<div class="modal fade" id="addProjectModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark-card text-white">
            <div class="modal-header border-secondary"><h5 class="modal-title">Aggiungi Nuovo Ordine di Lavoro</h5><button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button></div>
            <form action="{% url 'add_project' %}" method="post">
                <div class="modal-body">{% csrf_token %}{{ project_form.as_p }}</div>
                <div class="modal-footer border-secondary">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-primary-custom">Salva Ordine di Lavoro</button>
                </div>
            </form>
        </div>
    </div>
</div>
