# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3

# Media and static files
/media
/staticfiles
/static

# Migrations (gestite manualmente)
**/migrations/
!**/migrations/__init__.py

# VSCode and IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# PythonAnywhere specific
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.orig
